
<%= form_for(@approval) do |f| %>
  <% if @approval.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@approval.errors.count, "error") %> prohibited this approval from being saved:</h2>

      <ul>
      <% @approval.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :userchange, :value => current_user.username %>
  <%= f.hidden_field :rotumid, :value => @rota.id %>
<div class="table">
<table class="user_table">
    <tr></tr>
  <% @users.each do |user| %>
  <% unless user.username == 'admin' %> 

  <tr><th><%= user.username %></th></tr>

  <% end %>
  <% end %>
</table>

    <table class="rotum_table">
      <tr>
    <th>Sunday</th>
    <th>Monday</th>
    <th>Tuesday</th>
    <th>Wednesday</th>
    <th>Thursday</th>
    <th>Friday</th>
    <th>Saturday</th>
  </tr>
    <% if @user_count > 1 %>
  <tr>

    <td>
      <div class="draggable droppable"><span><%= @rota.grid11 %></span>
      <%= f.hidden_field :grid11, :value => @rota.grid11 %></div>
    </td>
    <td>   
        <div class="draggable droppable">
        <span><%= @rota.grid12 %></span>
        <%= f.hidden_field :grid12, :value => @rota.grid12 %>
        </div>
    </td>
    <td><div class="draggable droppable"><span><%= @rota.grid13 %></span><%= f.hidden_field :grid13, :value => @rota.grid13 %></div></td>
    <td><div class="draggable droppable"><span><%= @rota.grid14 %></span><%= f.hidden_field :grid14, :value => @rota.grid14 %></div></td>
    <td><div class="draggable droppable"><span><%= @rota.grid15 %></span><%= f.hidden_field :grid15, :value => @rota.grid15 %></div></td>
    <td><div class="draggable droppable"><span><%= @rota.grid16 %></span><%= f.hidden_field :grid16, :value => @rota.grid16 %></div></td>
    <td><div class="draggable droppable"><span><%= @rota.grid17 %></span><%= f.hidden_field :grid17, :value => @rota.grid17 %></div></td>
  </tr>
<% end %>
    <% if @user_count > 2 %>
  <tr>

    <td><div class="draggable droppable"><span><%= @rota.grid21 %></span><%= f.hidden_field :grid21, :value => @rota.grid21 %></div></td>
    <td><div class="draggable droppable"><span><%= @rota.grid22 %></span><%= f.hidden_field :grid22, :value => @rota.grid22 %></div></td>
    <td><div class="draggable droppable"><span><%= @rota.grid23 %></span><%= f.hidden_field :grid23, :value => @rota.grid23 %></div></td>
    <td><div class="draggable droppable"><span><%= @rota.grid24 %></span><%= f.hidden_field :grid24, :value => @rota.grid24 %></div></td>
    <td><div class="draggable droppable"><span><%= @rota.grid25 %></span><%= f.hidden_field :grid25, :value => @rota.grid25 %></div></td>
    <td><div class="draggable droppable"><span><%= @rota.grid26 %></span><%= f.hidden_field :grid26, :value => @rota.grid26 %></div></td>
    <td><div class="draggable droppable"><span><%= @rota.grid27 %></span><%= f.hidden_field :grid27, :value => @rota.grid27 %></div></td>
  </tr>
<% end %>
    <% if @user_count > 3 %>
  <tr>

    <td><div class="draggable droppable"><span><%= @rota.grid31 %></span><%= f.hidden_field :grid31, :value => @rota.grid31 %></div></td>
    <td><div class="draggable droppable"><span><%= @rota.grid32 %></span><%= f.hidden_field :grid32, :value => @rota.grid32 %></div></td>
    <td><div class="draggable droppable"><span><%= @rota.grid33 %></span><%= f.hidden_field :grid33, :value => @rota.grid33 %></div></td>
    <td><div class="draggable droppable"><span><%= @rota.grid34 %></span><%= f.hidden_field :grid34, :value => @rota.grid34 %></div></td>
    <td><div class="draggable droppable"><span><%= @rota.grid35 %></span><%= f.hidden_field :grid35, :value => @rota.grid35 %></div></td>
    <td><div class="draggable droppable"><span><%= @rota.grid36 %></span><%= f.hidden_field :grid36, :value => @rota.grid36 %></div></td>
    <td><div class="draggable droppable"><span><%= @rota.grid37 %></span><%= f.hidden_field :grid37, :value => @rota.grid37 %></div></td>
  </tr>
<% end %>
    <% if @user_count > 4 %>
  <tr>

    <td><div class="draggable droppable"><span><%= @rota.grid41 %></span><%= f.hidden_field :grid41, :value => @rota.grid41 %></div></td>
    <td><div class="draggable droppable"><span><%= @rota.grid42 %></span><%= f.hidden_field :grid42, :value => @rota.grid42 %></div></td>
    <td><div class="draggable droppable"><span><%= @rota.grid43 %></span><%= f.hidden_field :grid43, :value => @rota.grid43 %></div></td>
    <td><div class="draggable droppable"><span><%= @rota.grid44 %></span><%= f.hidden_field :grid44, :value => @rota.grid44 %></div></td>
    <td><div class="draggable droppable"><span><%= @rota.grid45 %></span><%= f.hidden_field :grid45, :value => @rota.grid45 %></div></td>
    <td><div class="draggable droppable"><span><%= @rota.grid46 %></span><%= f.hidden_field :grid46, :value => @rota.grid46 %></div></td>
    <td><div class="draggable droppable"><span><%= @rota.grid47 %></span><%= f.hidden_field :grid47, :value => @rota.grid47 %></div></td>
  </tr>
<% end %>
    <% if @user_count > 5 %>
  <tr>

    <td><div class="draggable droppable"><span><%= @rota.grid51 %></span><%= f.hidden_field :grid51, :value => @rota.grid51 %></div></td>
    <td><div class="draggable droppable"><span><%= @rota.grid52 %></span><%= f.hidden_field :grid52, :value => @rota.grid52 %></div></td>
    <td><div class="draggable droppable"><span><%= @rota.grid53 %></span><%= f.hidden_field :grid53, :value => @rota.grid53 %></div></td>
    <td><div class="draggable droppable"><span><%= @rota.grid54 %></span><%= f.hidden_field :grid54, :value => @rota.grid54 %></div></td>
    <td><div class="draggable droppable"><span><%= @rota.grid55 %></span><%= f.hidden_field :grid55, :value => @rota.grid55 %></div></td>
    <td><div class="draggable droppable"><span><%= @rota.grid56 %></span><%= f.hidden_field :grid56, :value => @rota.grid56 %></div></td>
    <td><div class="draggable droppable"><span><%= @rota.grid57 %></span><%= f.hidden_field :grid57, :value => @rota.grid57 %></div></td>
  </tr>
<% end %>
    <% if @user_count > 6 %>
  <tr>

    <td><div class="draggable droppable"><span><%= @rota.grid61 %></span><%= f.hidden_field :grid61, :value => @rota.grid61 %></div></td>
    <td><div class="draggable droppable"><span><%= @rota.grid62 %></span><%= f.hidden_field :grid62, :value => @rota.grid62 %></div></td>
    <td><div class="draggable droppable"><span><%= @rota.grid63 %></span><%= f.hidden_field :grid63, :value => @rota.grid63 %></div></td>
    <td><div class="draggable droppable"><span><%= @rota.grid64 %></span><%= f.hidden_field :grid64, :value => @rota.grid64 %></div></td>
    <td><div class="draggable droppable"><span><%= @rota.grid65 %></span><%= f.hidden_field :grid65, :value => @rota.grid65 %></div></td>
    <td><div class="draggable droppable"><span><%= @rota.grid66 %></span><%= f.hidden_field :grid66, :value => @rota.grid66 %></div></td>
    <td><div class="draggable droppable"><span><%= @rota.grid67 %></span><%= f.hidden_field :grid67, :value => @rota.grid67 %></div></td>
  </tr>
<% end %>
    <% if @user_count > 7 %>
  <tr>

    <td><div class="draggable droppable"><span><%= @rota.grid71 %></span><%= f.hidden_field :grid71, :value => @rota.grid71 %></div></td>
    <td><div class="draggable droppable"><span><%= @rota.grid72 %></span><%= f.hidden_field :grid72, :value => @rota.grid72 %></div></td>
    <td><div class="draggable droppable"><span><%= @rota.grid73 %></span><%= f.hidden_field :grid73, :value => @rota.grid73 %></div></td>
    <td><div class="draggable droppable"><span><%= @rota.grid74 %></span><%= f.hidden_field :grid74, :value => @rota.grid74 %></div></td>
    <td><div class="draggable droppable"><span><%= @rota.grid75 %></span><%= f.hidden_field :grid75, :value => @rota.grid75 %></div></td>
    <td><div class="draggable droppable"><span><%= @rota.grid76 %></span><%= f.hidden_field :grid76, :value => @rota.grid76 %></div></td>
    <td><div class="draggable droppable"><span><%= @rota.grid77 %></span><%= f.hidden_field :grid77, :value => @rota.grid77 %></div></td>
  </tr>
<% end %>
    <% if @user_count > 8 %>
  <tr>

    <td><div class="draggable droppable"><span><%= @rota.grid81 %></span><%= f.hidden_field :grid81, :value => @rota.grid81 %></div></td>
    <td><div class="draggable droppable"><span><%= @rota.grid82 %></span><%= f.hidden_field :grid82, :value => @rota.grid82 %></div></td>
    <td><div class="draggable droppable"><span><%= @rota.grid83 %></span><%= f.hidden_field :grid83, :value => @rota.grid83 %></div></td>
    <td><div class="draggable droppable"><span><%= @rota.grid84 %></span><%= f.hidden_field :grid84, :value => @rota.grid84 %></div></td>
    <td><div class="draggable droppable"><span><%= @rota.grid85 %></span><%= f.hidden_field :grid85, :value => @rota.grid85 %></div></td>
    <td><div class="draggable droppable"><span><%= @rota.grid86 %></span><%= f.hidden_field :grid86, :value => @rota.grid86 %></div></td>
    <td><div class="draggable droppable"><span><%= @rota.grid87 %></span><%= f.hidden_field :grid87, :value => @rota.grid87 %></div></td>
  </tr>
<% end %>
    <% if @user_count > 9 %>
  <tr>

    <td><div class="draggable droppable"><span><%= @rota.grid91 %></span><%= f.hidden_field :grid91, :value => @rota.grid91 %></div></td>
    <td><div class="draggable droppable"><span><%= @rota.grid92 %></span><%= f.hidden_field :grid92, :value => @rota.grid92 %></div></td>
    <td><div class="draggable droppable"><span><%= @rota.grid93 %></span><%= f.hidden_field :grid93, :value => @rota.grid93 %></div></td>
    <td><div class="draggable droppable"><span><%= @rota.grid94 %></span><%= f.hidden_field :grid94, :value => @rota.grid94 %></div></td>
    <td><div class="draggable droppable"><span><%= @rota.grid95 %></span><%= f.hidden_field :grid95, :value => @rota.grid95 %></div></td>
    <td><div class="draggable droppable"><span><%= @rota.grid96 %></span><%= f.hidden_field :grid96, :value => @rota.grid96 %></div></td>
    <td><div class="draggable droppable"><span><%= @rota.grid97 %></span><%= f.hidden_field :grid97, :value => @rota.grid97 %></div></td>
  </tr>
<% end %>
    <% if @user_count > 10 %>
  <tr>

    <td><div class="draggable droppable"><span><%= @rota.grid101 %></span><%= f.hidden_field :grid101, :value => @rota.grid101 %></div></td>
    <td><div class="draggable droppable"><span><%= @rota.grid102 %></span><%= f.hidden_field :grid102, :value => @rota.grid102 %></div></td>
    <td><div class="draggable droppable"><span><%= @rota.grid103 %></span><%= f.hidden_field :grid103, :value => @rota.grid103 %></div></td>
    <td><div class="draggable droppable"><span><%= @rota.grid104 %></span><%= f.hidden_field :grid104, :value => @rota.grid104 %></div></td>
    <td><div class="draggable droppable"><span><%= @rota.grid105 %></span><%= f.hidden_field :grid105, :value => @rota.grid105 %></div></td>
    <td><div class="draggable droppable"><span><%= @rota.grid106 %></span><%= f.hidden_field :grid106, :value => @rota.grid106 %></div></td>
    <td><div class="draggable droppable"><span><%= @rota.grid107 %></span><%= f.hidden_field :grid107, :value => @rota.grid107 %></div></td>
  </tr>
<% end %>
    <% if @user_count > 11 %>
  <tr>

    <td><div class="draggable droppable"><span><%= @rota.grid111 %></span><%= f.hidden_field :grid111, :value => @rota.grid111 %></div></td>
    <td><div class="draggable droppable"><span><%= @rota.grid112 %></span><%= f.hidden_field :grid112, :value => @rota.grid112 %></div></td>
    <td><div class="draggable droppable"><span><%= @rota.grid113 %></span><%= f.hidden_field :grid113, :value => @rota.grid113 %></div></td>
    <td><div class="draggable droppable"><span><%= @rota.grid114 %></span><%= f.hidden_field :grid114, :value => @rota.grid114 %></div></td>
    <td><div class="draggable droppable"><span><%= @rota.grid115 %></span><%= f.hidden_field :grid115, :value => @rota.grid115 %></div></td>
    <td><div class="draggable droppable"><span><%= @rota.grid116 %></span><%= f.hidden_field :grid116, :value => @rota.grid116 %></div></td>
    <td><div class="draggable droppable"><span><%= @rota.grid117 %></span><%= f.hidden_field :grid117, :value => @rota.grid117 %></div></td>
  </tr>
  <% end %>
  <% if @user_count > 12 %>
  <tr>
    <td><div class="draggable droppable"><span><%= @rota.grid121 %></span><%= f.hidden_field :grid121, :value => @rota.grid121 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid121 %></span><%= f.hidden_field :grid122, :value => @rota.grid122 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid121 %></span><%= f.hidden_field :grid123, :value => @rota.grid123 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid121 %></span><%= f.hidden_field :grid124, :value => @rota.grid124 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid121 %></span><%= f.hidden_field :grid125, :value => @rota.grid125 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid121 %></span><%= f.hidden_field :grid126, :value => @rota.grid126 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid121 %></span><%= f.hidden_field :grid127, :value => @rota.grid127 %></td>
  </tr>
<% end %>
  <% if @user_count > 13 %>
  <tr>
    <td><div class="draggable droppable"><span><%= @rota.grid131 %></span><%= f.hidden_field :grid131, :value => @rota.grid131 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid132 %></span><%= f.hidden_field :grid132, :value => @rota.grid132 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid133 %></span><%= f.hidden_field :grid133, :value => @rota.grid133 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid134 %></span><%= f.hidden_field :grid134, :value => @rota.grid134 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid135 %></span><%= f.hidden_field :grid135, :value => @rota.grid135 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid136 %></span><%= f.hidden_field :grid136, :value => @rota.grid136 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid137 %></span><%= f.hidden_field :grid137, :value => @rota.grid137 %></td>
  </tr>
<% end %>
  <% if @user_count > 14 %>
  <tr>
    <td><div class="draggable droppable"><span><%= @rota.grid141 %></span><%= f.hidden_field :grid141, :value => @rota.grid141 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid142 %></span><%= f.hidden_field :grid142, :value => @rota.grid142 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid143 %></span><%= f.hidden_field :grid143, :value => @rota.grid143 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid144 %></span><%= f.hidden_field :grid144, :value => @rota.grid144 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid145 %></span><%= f.hidden_field :grid145, :value => @rota.grid145 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid146 %></span><%= f.hidden_field :grid146, :value => @rota.grid146 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid147 %></span><%= f.hidden_field :grid147, :value => @rota.grid147 %></td>
  </tr>
<% end %>
  <% if @user_count > 15 %>
  <tr>
    <td><div class="draggable droppable"><span><%= @rota.grid151 %></span><%= f.hidden_field :grid151, :value => @rota.grid151 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid152 %></span><%= f.hidden_field :grid152, :value => @rota.grid152 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid153 %></span><%= f.hidden_field :grid153, :value => @rota.grid153 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid154 %></span><%= f.hidden_field :grid154, :value => @rota.grid154 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid155 %></span><%= f.hidden_field :grid155, :value => @rota.grid155 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid156 %></span><%= f.hidden_field :grid156, :value => @rota.grid156 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid157 %></span><%= f.hidden_field :grid157, :value => @rota.grid157 %></td>
  </tr>
<% end %>
  <% if @user_count > 16 %>
  <tr>
    <td><div class="draggable droppable"><span><%= @rota.grid161 %></span><%= f.hidden_field :grid161, :value => @rota.grid161 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid162 %></span><%= f.hidden_field :grid162, :value => @rota.grid162 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid163 %></span><%= f.hidden_field :grid163, :value => @rota.grid163 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid164 %></span><%= f.hidden_field :grid164, :value => @rota.grid164 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid165 %></span><%= f.hidden_field :grid165, :value => @rota.grid165 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid166 %></span><%= f.hidden_field :grid166, :value => @rota.grid166 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid167 %></span><%= f.hidden_field :grid167, :value => @rota.grid167 %></td>
  </tr>
<% end %>
  <% if @user_count > 17 %>
  <tr>
    <td><div class="draggable droppable"><span><%= @rota.grid171 %></span><%= f.hidden_field :grid171, :value => @rota.grid171 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid172 %></span><%= f.hidden_field :grid172, :value => @rota.grid172 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid173 %></span><%= f.hidden_field :grid173, :value => @rota.grid173 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid174 %></span><%= f.hidden_field :grid174, :value => @rota.grid174 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid175 %></span><%= f.hidden_field :grid175, :value => @rota.grid175 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid176 %></span><%= f.hidden_field :grid176, :value => @rota.grid176 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid177 %></span><%= f.hidden_field :grid177, :value => @rota.grid177 %></td>
  </tr>
<% end %>
  <% if @user_count > 18 %>
  <tr>
    <td><div class="draggable droppable"><span><%= @rota.grid181 %></span><%= f.hidden_field :grid181, :value => @rota.grid181 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid182 %></span><%= f.hidden_field :grid182, :value => @rota.grid182 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid183 %></span><%= f.hidden_field :grid183, :value => @rota.grid183 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid184 %></span><%= f.hidden_field :grid184, :value => @rota.grid184 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid185 %></span><%= f.hidden_field :grid185, :value => @rota.grid185 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid186 %></span><%= f.hidden_field :grid186, :value => @rota.grid186 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid187 %></span><%= f.hidden_field :grid187, :value => @rota.grid187 %></td>
  </tr>
<% end %>
  <% if @user_count > 19 %>
  <tr>
    <td><div class="draggable droppable"><span><%= @rota.grid191 %></span><%= f.hidden_field :grid191, :value => @rota.grid191 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid192 %></span><%= f.hidden_field :grid192, :value => @rota.grid192 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid193 %></span><%= f.hidden_field :grid193, :value => @rota.grid193 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid194 %></span><%= f.hidden_field :grid194, :value => @rota.grid194 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid195 %></span><%= f.hidden_field :grid195, :value => @rota.grid195 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid196 %></span><%= f.hidden_field :grid196, :value => @rota.grid196 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid197 %></span><%= f.hidden_field :grid197, :value => @rota.grid197 %></td>
  </tr>
<% end %>
  <% if @user_count > 20 %>
  <tr>
    <td><div class="draggable droppable"><span><%= @rota.grid201 %></span><%= f.hidden_field :grid201, :value => @rota.grid201 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid202 %></span><%= f.hidden_field :grid202, :value => @rota.grid202 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid203 %></span><%= f.hidden_field :grid203, :value => @rota.grid203 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid204 %></span><%= f.hidden_field :grid204, :value => @rota.grid204 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid205 %></span><%= f.hidden_field :grid205, :value => @rota.grid205 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid206 %></span><%= f.hidden_field :grid206, :value => @rota.grid206 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid207 %></span><%= f.hidden_field :grid207, :value => @rota.grid207 %></td>
  </tr>
<% end %>
  <% if @user_count > 21 %>
  <tr>
    <td><div class="draggable droppable"><span><%= @rota.grid211 %></span><%= f.hidden_field :grid211, :value => @rota.grid211 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid212 %></span><%= f.hidden_field :grid212, :value => @rota.grid212 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid213 %></span><%= f.hidden_field :grid213, :value => @rota.grid213 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid214 %></span><%= f.hidden_field :grid214, :value => @rota.grid214 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid215 %></span><%= f.hidden_field :grid215, :value => @rota.grid215 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid216 %></span><%= f.hidden_field :grid216, :value => @rota.grid216 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid217 %></span><%= f.hidden_field :grid217, :value => @rota.grid217 %></td>
  </tr>
<% end %>
  <% if @user_count > 22 %>
  <tr>
    <td><div class="draggable droppable"><span><%= @rota.grid221 %></span><%= f.hidden_field :grid221, :value => @rota.grid221 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid222 %></span><%= f.hidden_field :grid222, :value => @rota.grid222 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid223 %></span><%= f.hidden_field :grid223, :value => @rota.grid223 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid224 %></span><%= f.hidden_field :grid224, :value => @rota.grid224 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid225 %></span><%= f.hidden_field :grid225, :value => @rota.grid225 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid226 %></span><%= f.hidden_field :grid226, :value => @rota.grid226 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid227 %></span><%= f.hidden_field :grid227, :value => @rota.grid227 %></td>
  </tr>
<% end %>
  <% if @user_count > 23 %>
  <tr>
    <td><div class="draggable droppable"><span><%= @rota.grid231 %></span><%= f.hidden_field :grid231, :value => @rota.grid231 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid232 %></span><%= f.hidden_field :grid232, :value => @rota.grid232 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid233 %></span><%= f.hidden_field :grid233, :value => @rota.grid233 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid234 %></span><%= f.hidden_field :grid234, :value => @rota.grid234 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid235 %></span><%= f.hidden_field :grid235, :value => @rota.grid235 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid236 %></span><%= f.hidden_field :grid236, :value => @rota.grid236 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid237 %></span><%= f.hidden_field :grid237, :value => @rota.grid237 %></td>
  </tr>
<% end %>
  <% if @user_count > 24 %>
  <tr>
    <td><div class="draggable droppable"><span><%= @rota.grid241 %></span><%= f.hidden_field :grid241, :value => @rota.grid241 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid242 %></span><%= f.hidden_field :grid242, :value => @rota.grid242 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid243 %></span><%= f.hidden_field :grid243, :value => @rota.grid243 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid244 %></span><%= f.hidden_field :grid244, :value => @rota.grid244 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid245 %></span><%= f.hidden_field :grid245, :value => @rota.grid245 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid246 %></span><%= f.hidden_field :grid246, :value => @rota.grid246 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid247 %></span><%= f.hidden_field :grid247, :value => @rota.grid247 %></td>
  </tr>
<% end %>
  <% if @user_count > 25 %>
  <tr>
    <td><div class="draggable droppable"><span><%= @rota.grid251 %></span><%= f.hidden_field :grid251, :value => @rota.grid251 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid252 %></span><%= f.hidden_field :grid252, :value => @rota.grid252 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid253 %></span><%= f.hidden_field :grid253, :value => @rota.grid253 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid254 %></span><%= f.hidden_field :grid254, :value => @rota.grid254 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid255 %></span><%= f.hidden_field :grid255, :value => @rota.grid255 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid256 %></span><%= f.hidden_field :grid256, :value => @rota.grid256 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid257 %></span><%= f.hidden_field :grid257, :value => @rota.grid257 %></td>
  </tr>
<% end %>
  <% if @user_count > 26 %>
  <tr>
    <td><div class="draggable droppable"><span><%= @rota.grid261 %></span><%= f.hidden_field :grid261, :value => @rota.grid261 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid262 %></span><%= f.hidden_field :grid262, :value => @rota.grid262 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid263 %></span><%= f.hidden_field :grid263, :value => @rota.grid263 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid264 %></span><%= f.hidden_field :grid264, :value => @rota.grid264 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid265 %></span><%= f.hidden_field :grid265, :value => @rota.grid265 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid266 %></span><%= f.hidden_field :grid266, :value => @rota.grid266 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid267 %></span><%= f.hidden_field :grid267, :value => @rota.grid267 %></td>
  </tr>
<% end %>
  <% if @user_count > 27 %>
  <tr>
    <td><div class="draggable droppable"><span><%= @rota.grid271 %></span><%= f.hidden_field :grid271, :value => @rota.grid271 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid272 %></span><%= f.hidden_field :grid272, :value => @rota.grid272 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid273 %></span><%= f.hidden_field :grid273, :value => @rota.grid273 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid274 %></span><%= f.hidden_field :grid274, :value => @rota.grid274 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid275 %></span><%= f.hidden_field :grid275, :value => @rota.grid275 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid276 %></span><%= f.hidden_field :grid276, :value => @rota.grid276 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid277 %></span><%= f.hidden_field :grid277, :value => @rota.grid277 %></td>
  </tr>
<% end %>
  <% if @user_count > 28 %>
  <tr>
    <td><div class="draggable droppable"><span><%= @rota.grid281 %></span><%= f.hidden_field :grid281, :value => @rota.grid281 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid282 %></span><%= f.hidden_field :grid282, :value => @rota.grid282 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid283 %></span><%= f.hidden_field :grid283, :value => @rota.grid283 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid284 %></span><%= f.hidden_field :grid284, :value => @rota.grid284 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid285 %></span><%= f.hidden_field :grid285, :value => @rota.grid285 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid286 %></span><%= f.hidden_field :grid286, :value => @rota.grid286 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid287 %></span><%= f.hidden_field :grid287, :value => @rota.grid287 %></td>
  </tr>
<% end %>
  <% if @user_count > 29 %>
  <tr>
    <td><div class="draggable droppable"><span><%= @rota.grid291 %></span><%= f.hidden_field :grid291, :value => @rota.grid291 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid292 %></span><%= f.hidden_field :grid292, :value => @rota.grid292 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid293 %></span><%= f.hidden_field :grid293, :value => @rota.grid293 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid294 %></span><%= f.hidden_field :grid294, :value => @rota.grid294 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid295 %></span><%= f.hidden_field :grid295, :value => @rota.grid295 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid296 %></span><%= f.hidden_field :grid296, :value => @rota.grid296 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid297 %></span><%= f.hidden_field :grid297, :value => @rota.grid297 %></td>
  </tr>
<% end %>
  <% if @user_count > 30 %>
  <tr>
    <td><div class="draggable droppable"><span><%= @rota.grid301 %></span><%= f.hidden_field :grid301, :value => @rota.grid301 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid302 %></span><%= f.hidden_field :grid302, :value => @rota.grid302 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid303 %></span><%= f.hidden_field :grid303, :value => @rota.grid303 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid304 %></span><%= f.hidden_field :grid304, :value => @rota.grid304 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid305 %></span><%= f.hidden_field :grid305, :value => @rota.grid305 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid306 %></span><%= f.hidden_field :grid306, :value => @rota.grid306 %></td>
    <td><div class="draggable droppable"><span><%= @rota.grid307 %></span><%= f.hidden_field :grid307, :value => @rota.grid307 %></td>
  </tr>
<% end %>
  </table>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
