<% if current_user.admin %>
<center><h1>Listing approvals</h1></center>

<% @approvals.each do |approval| %>
<h3 class="week">Edited by : <%= approval.userchange %></h3>
<div class="table">
<table class="user_table">
<tr></tr>
  <% @users.each do |user| %>
  <% unless user.username == 'admin' %> 

  <tr><th><%= user.username %></th></tr>

  <% end %>
  <% end %>
</table>
<table class="rotum_table">
  <tr class="days">

    <th>Sunday</th>
    <th>Monday</th>
    <th>Tuesday</th>
    <th>Wednesday</th>
    <th>Thursday</th>
    <th>Friday</th>
    <th>Saturday</th>
  </tr>
    <% if @user_count > 1 %>
  <tr>

    <td><%= approval.grid11 %></td>
    <td><%= approval.grid12 %></td>
    <td><%= approval.grid13 %></td>
    <td><%= approval.grid14 %></td>
    <td><%= approval.grid15 %></td>
    <td><%= approval.grid16 %></td>
    <td><%= approval.grid17 %></td>
  </tr>
<% end %>
  <% if @user_count > 2 %>
  <tr>

    <td><%= approval.grid21 %></td>
    <td><%= approval.grid22 %></td>
    <td><%= approval.grid23 %></td>
    <td><%= approval.grid24 %></td>
    <td><%= approval.grid25 %></td>
    <td><%= approval.grid26 %></td>
    <td><%= approval.grid27 %></td>
  </tr>
<% end %>
  <% if @user_count > 3 %>
  <tr>

    <td><%= approval.grid31 %></td>
    <td><%= approval.grid32 %></td>
    <td><%= approval.grid33 %></td>
    <td><%= approval.grid34 %></td>
    <td><%= approval.grid35 %></td>
    <td><%= approval.grid36 %></td>
    <td><%= approval.grid37 %></td>
  </tr>
<% end %>
  <% if @user_count > 4 %>
  <tr>

    <td><%= approval.grid41 %></td>
    <td><%= approval.grid42 %></td>
    <td><%= approval.grid43 %></td>
    <td><%= approval.grid44 %></td>
    <td><%= approval.grid45 %></td>
    <td><%= approval.grid46 %></td>
    <td><%= approval.grid47 %></td>
  </tr>
<% end %>
  <% if @user_count > 5 %>
  <tr>

    <td><%= approval.grid51 %></td>
    <td><%= approval.grid52 %></td>
    <td><%= approval.grid53 %></td>
    <td><%= approval.grid54 %></td>
    <td><%= approval.grid55 %></td>
    <td><%= approval.grid56 %></td>
    <td><%= approval.grid57 %></td>
  </tr>
<% end %>
  <% if @user_count > 6 %>
  <tr>

    <td><%= approval.grid61 %></td>
    <td><%= approval.grid62 %></td>
    <td><%= approval.grid63 %></td>
    <td><%= approval.grid64 %></td>
    <td><%= approval.grid65 %></td>
    <td><%= approval.grid66 %></td>
    <td><%= approval.grid67 %></td>
  </tr>
<% end %>
  <% if @user_count > 7 %>
  <tr>
    <td><%= approval.grid71 %></td>
    <td><%= approval.grid72 %></td>
    <td><%= approval.grid73 %></td>
    <td><%= approval.grid74 %></td>
    <td><%= approval.grid75 %></td>
    <td><%= approval.grid76 %></td>
    <td><%= approval.grid77 %></td>
  </tr>
<% end %>
  <% if @user_count > 8 %>
  <tr>
    <td><%= approval.grid81 %></td>
    <td><%= approval.grid82 %></td>
    <td><%= approval.grid83 %></td>
    <td><%= approval.grid84 %></td>
    <td><%= approval.grid85 %></td>
    <td><%= approval.grid86 %></td>
    <td><%= approval.grid87 %></td>
  </tr>
<% end %>
  <% if @user_count > 9 %>
  <tr>
    <td><%= approval.grid91 %></td>
    <td><%= approval.grid92 %></td>
    <td><%= approval.grid93 %></td>
    <td><%= approval.grid94 %></td>
    <td><%= approval.grid95 %></td>
    <td><%= approval.grid96 %></td>
    <td><%= approval.grid97 %></td>
  </tr>
<% end %>
  <% if @user_count > 10 %>
  <tr>
    <td><%= approval.grid101 %></td>
    <td><%= approval.grid102 %></td>
    <td><%= approval.grid103 %></td>
    <td><%= approval.grid104 %></td>
    <td><%= approval.grid105 %></td>
    <td><%= approval.grid106 %></td>
    <td><%= approval.grid107 %></td>
  </tr>
<% end %>
  <% if @user_count > 11 %>
  <tr>
    <td><%= approval.grid111 %></td>
    <td><%= approval.grid112 %></td>
    <td><%= approval.grid113 %></td>
    <td><%= approval.grid114 %></td>
    <td><%= approval.grid115 %></td>
    <td><%= approval.grid116 %></td>
    <td><%= approval.grid117 %></td>
  </tr>
<% end %>

</table>
</div>
      <div class="link_holder_anti">
        <div class="approval_link left"><%= link_to 'Approve This', push_approval_path(approval, approval.rotumid) %></td></div>
        <div class="approval_link right"><%= link_to 'Destroy / Do Not Approve', approval, method: :delete, data: { confirm: 'Are you sure?' } %></div>
      </div>

</table>
<% end %>

<br>

<% end %>