<%= form_for(@rotum) do |f| %>
  <% if @rotum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rotum.errors.count, "error") %> prohibited this rotum from being saved:</h2>

      <ul>
      <% @rotum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h1 class="week">Week Commencing : <%= f.text_field :week %></h1>
<div class="table">
<table class="user_table">
  <tr></tr>
  <% @users.each do |user| %>
  <% unless user.username == 'admin' %> 

  <tr><th><%= user.username %></th></tr>

  <% end %>
  <% end %>
</table>
  <table class="rotum_table">
      <tr class="days">
    <th>Sunday</th>
    <th>Monday</th>
    <th>Tuesday</th>
    <th>Wednesday</th>
    <th>Thursday</th>
    <th>Friday</th>
    <th>Saturday</th>
  </tr>
    <% if @user_count > 1 %>
  <tr>
    <td><%= f.text_field :grid11 %></td>
    <td><%= f.text_field :grid12 %></td>
    <td><%= f.text_field :grid13 %></td>
    <td><%= f.text_field :grid14 %></td>
    <td><%= f.text_field :grid15 %></td>
    <td><%= f.text_field :grid16 %></td>
    <td><%= f.text_field :grid17 %></td>
  </tr>
<% end %>
  <% if @user_count > 2 %>
  <tr>
    <td><%= f.text_field :grid21 %></td>
    <td><%= f.text_field :grid22 %></td>
    <td><%= f.text_field :grid23 %></td>
    <td><%= f.text_field :grid24 %></td>
    <td><%= f.text_field :grid25 %></td>
    <td><%= f.text_field :grid26 %></td>
    <td><%= f.text_field :grid27 %></td>
  </tr>
  <% end %>
  <% if @user_count > 3 %>
  <tr>
    <td><%= f.text_field :grid31 %></td>
    <td><%= f.text_field :grid32 %></td>
    <td><%= f.text_field :grid33 %></td>
    <td><%= f.text_field :grid34 %></td>
    <td><%= f.text_field :grid35 %></td>
    <td><%= f.text_field :grid36 %></td>
    <td><%= f.text_field :grid37 %></td>
  </tr>
<% end %>
  <% if @user_count > 4 %>
  <tr>
    <td><%= f.text_field :grid41 %></td>
    <td><%= f.text_field :grid42 %></td>
    <td><%= f.text_field :grid43 %></td>
    <td><%= f.text_field :grid44 %></td>
    <td><%= f.text_field :grid45 %></td>
    <td><%= f.text_field :grid46 %></td>
    <td><%= f.text_field :grid47 %></td>
  </tr>
<% end %>
  <% if @user_count > 5 %>
  <tr>
    <td><%= f.text_field :grid51 %></td>
    <td><%= f.text_field :grid52 %></td>
    <td><%= f.text_field :grid53 %></td>
    <td><%= f.text_field :grid54 %></td>
    <td><%= f.text_field :grid55 %></td>
    <td><%= f.text_field :grid56 %></td>
    <td><%= f.text_field :grid57 %></td>
  </tr>
<% end %>
  <% if @user_count > 6 %>
  <tr>
    <td><%= f.text_field :grid61 %></td>
    <td><%= f.text_field :grid62 %></td>
    <td><%= f.text_field :grid63 %></td>
    <td><%= f.text_field :grid64 %></td>
    <td><%= f.text_field :grid65 %></td>
    <td><%= f.text_field :grid66 %></td>
    <td><%= f.text_field :grid67 %></td>
  </tr>
<% end %>
  <% if @user_count > 7 %>
  <tr>
    <td><%= f.text_field :grid71 %></td>
    <td><%= f.text_field :grid72 %></td>
    <td><%= f.text_field :grid73 %></td>
    <td><%= f.text_field :grid74 %></td>
    <td><%= f.text_field :grid75 %></td>
    <td><%= f.text_field :grid76 %></td>
    <td><%= f.text_field :grid77 %></td>
  </tr>
<% end %>
  <% if @user_count > 8 %>
  <tr>
    <td><%= f.text_field :grid81 %></td>
    <td><%= f.text_field :grid82 %></td>
    <td><%= f.text_field :grid83 %></td>
    <td><%= f.text_field :grid84 %></td>
    <td><%= f.text_field :grid85 %></td>
    <td><%= f.text_field :grid86 %></td>
    <td><%= f.text_field :grid87 %></td>
  </tr>
<% end %>
  <% if @user_count > 9 %>
  <tr>
    <td><%= f.text_field :grid91 %></td>
    <td><%= f.text_field :grid92 %></td>
    <td><%= f.text_field :grid93 %></td>
    <td><%= f.text_field :grid94 %></td>
    <td><%= f.text_field :grid95 %></td>
    <td><%= f.text_field :grid96 %></td>
    <td><%= f.text_field :grid97 %></td>
  </tr>
<% end %>
  <% if @user_count > 10 %>
  <tr>
    <td><%= f.text_field :grid101 %></td>
    <td><%= f.text_field :grid102 %></td>
    <td><%= f.text_field :grid103 %></td>
    <td><%= f.text_field :grid104 %></td>
    <td><%= f.text_field :grid105 %></td>
    <td><%= f.text_field :grid106 %></td>
    <td><%= f.text_field :grid107 %></td>
  </tr>
<% end %>
  <% if @user_count > 11 %>
  <tr>
    <td><%= f.text_field :grid111 %></td>
    <td><%= f.text_field :grid112 %></td>
    <td><%= f.text_field :grid113 %></td>
    <td><%= f.text_field :grid114 %></td>
    <td><%= f.text_field :grid115 %></td>
    <td><%= f.text_field :grid116 %></td>
    <td><%= f.text_field :grid117 %></td>
  </tr>
<% end %>
  <% if @user_count > 12 %>
  <tr>
    <td><%= f.text_field :grid121 %></td>
    <td><%= f.text_field :grid122 %></td>
    <td><%= f.text_field :grid123 %></td>
    <td><%= f.text_field :grid124 %></td>
    <td><%= f.text_field :grid125 %></td>
    <td><%= f.text_field :grid126 %></td>
    <td><%= f.text_field :grid127 %></td>
  </tr>
<% end %>
  <% if @user_count > 13 %>
  <tr>
    <td><%= f.text_field :grid131 %></td>
    <td><%= f.text_field :grid132 %></td>
    <td><%= f.text_field :grid133 %></td>
    <td><%= f.text_field :grid134 %></td>
    <td><%= f.text_field :grid135 %></td>
    <td><%= f.text_field :grid136 %></td>
    <td><%= f.text_field :grid137 %></td>
  </tr>
<% end %>
  <% if @user_count > 14 %>
  <tr>
    <td><%= f.text_field :grid141 %></td>
    <td><%= f.text_field :grid142 %></td>
    <td><%= f.text_field :grid143 %></td>
    <td><%= f.text_field :grid144 %></td>
    <td><%= f.text_field :grid145 %></td>
    <td><%= f.text_field :grid146 %></td>
    <td><%= f.text_field :grid147 %></td>
  </tr>
<% end %>
  <% if @user_count > 15 %>
  <tr>
    <td><%= f.text_field :grid151 %></td>
    <td><%= f.text_field :grid152 %></td>
    <td><%= f.text_field :grid153 %></td>
    <td><%= f.text_field :grid154 %></td>
    <td><%= f.text_field :grid155 %></td>
    <td><%= f.text_field :grid156 %></td>
    <td><%= f.text_field :grid157 %></td>
  </tr>
<% end %>
  <% if @user_count > 16 %>
  <tr>
    <td><%= f.text_field :grid161 %></td>
    <td><%= f.text_field :grid162 %></td>
    <td><%= f.text_field :grid163 %></td>
    <td><%= f.text_field :grid164 %></td>
    <td><%= f.text_field :grid165 %></td>
    <td><%= f.text_field :grid166 %></td>
    <td><%= f.text_field :grid167 %></td>
  </tr>
<% end %>
  <% if @user_count > 17 %>
  <tr>
    <td><%= f.text_field :grid171 %></td>
    <td><%= f.text_field :grid172 %></td>
    <td><%= f.text_field :grid173 %></td>
    <td><%= f.text_field :grid174 %></td>
    <td><%= f.text_field :grid175 %></td>
    <td><%= f.text_field :grid176 %></td>
    <td><%= f.text_field :grid177 %></td>
  </tr>
<% end %>
  <% if @user_count > 18 %>
  <tr>
    <td><%= f.text_field :grid181 %></td>
    <td><%= f.text_field :grid182 %></td>
    <td><%= f.text_field :grid183 %></td>
    <td><%= f.text_field :grid184 %></td>
    <td><%= f.text_field :grid185 %></td>
    <td><%= f.text_field :grid186 %></td>
    <td><%= f.text_field :grid187 %></td>
  </tr>
<% end %>
  <% if @user_count > 19 %>
  <tr>
    <td><%= f.text_field :grid191 %></td>
    <td><%= f.text_field :grid192 %></td>
    <td><%= f.text_field :grid193 %></td>
    <td><%= f.text_field :grid194 %></td>
    <td><%= f.text_field :grid195 %></td>
    <td><%= f.text_field :grid196 %></td>
    <td><%= f.text_field :grid197 %></td>
  </tr>
<% end %>
  <% if @user_count > 20 %>
  <tr>
    <td><%= f.text_field :grid201 %></td>
    <td><%= f.text_field :grid202 %></td>
    <td><%= f.text_field :grid203 %></td>
    <td><%= f.text_field :grid204 %></td>
    <td><%= f.text_field :grid205 %></td>
    <td><%= f.text_field :grid206 %></td>
    <td><%= f.text_field :grid207 %></td>
  </tr>
<% end %>
  <% if @user_count > 21 %>
  <tr>
    <td><%= f.text_field :grid211 %></td>
    <td><%= f.text_field :grid212 %></td>
    <td><%= f.text_field :grid213 %></td>
    <td><%= f.text_field :grid214 %></td>
    <td><%= f.text_field :grid215 %></td>
    <td><%= f.text_field :grid216 %></td>
    <td><%= f.text_field :grid217 %></td>
  </tr>
<% end %>
  <% if @user_count > 22 %>
  <tr>
    <td><%= f.text_field :grid221 %></td>
    <td><%= f.text_field :grid222 %></td>
    <td><%= f.text_field :grid223 %></td>
    <td><%= f.text_field :grid224 %></td>
    <td><%= f.text_field :grid225 %></td>
    <td><%= f.text_field :grid226 %></td>
    <td><%= f.text_field :grid227 %></td>
  </tr>
<% end %>
  <% if @user_count > 23 %>
  <tr>
    <td><%= f.text_field :grid231 %></td>
    <td><%= f.text_field :grid232 %></td>
    <td><%= f.text_field :grid233 %></td>
    <td><%= f.text_field :grid234 %></td>
    <td><%= f.text_field :grid235 %></td>
    <td><%= f.text_field :grid236 %></td>
    <td><%= f.text_field :grid237 %></td>
  </tr>
<% end %>
  <% if @user_count > 24 %>
  <tr>
    <td><%= f.text_field :grid241 %></td>
    <td><%= f.text_field :grid242 %></td>
    <td><%= f.text_field :grid243 %></td>
    <td><%= f.text_field :grid244 %></td>
    <td><%= f.text_field :grid245 %></td>
    <td><%= f.text_field :grid246 %></td>
    <td><%= f.text_field :grid247 %></td>
  </tr>
<% end %>
  <% if @user_count > 25 %>
  <tr>
    <td><%= f.text_field :grid251 %></td>
    <td><%= f.text_field :grid252 %></td>
    <td><%= f.text_field :grid253 %></td>
    <td><%= f.text_field :grid254 %></td>
    <td><%= f.text_field :grid255 %></td>
    <td><%= f.text_field :grid256 %></td>
    <td><%= f.text_field :grid257 %></td>
  </tr>
<% end %>
  <% if @user_count > 26 %>
  <tr>
    <td><%= f.text_field :grid261 %></td>
    <td><%= f.text_field :grid262 %></td>
    <td><%= f.text_field :grid263 %></td>
    <td><%= f.text_field :grid264 %></td>
    <td><%= f.text_field :grid265 %></td>
    <td><%= f.text_field :grid266 %></td>
    <td><%= f.text_field :grid267 %></td>
  </tr>
<% end %>
  <% if @user_count > 27 %>
  <tr>
    <td><%= f.text_field :grid271 %></td>
    <td><%= f.text_field :grid272 %></td>
    <td><%= f.text_field :grid273 %></td>
    <td><%= f.text_field :grid274 %></td>
    <td><%= f.text_field :grid275 %></td>
    <td><%= f.text_field :grid276 %></td>
    <td><%= f.text_field :grid277 %></td>
  </tr>
<% end %>
  <% if @user_count > 28 %>
  <tr>
    <td><%= f.text_field :grid281 %></td>
    <td><%= f.text_field :grid282 %></td>
    <td><%= f.text_field :grid283 %></td>
    <td><%= f.text_field :grid284 %></td>
    <td><%= f.text_field :grid285 %></td>
    <td><%= f.text_field :grid286 %></td>
    <td><%= f.text_field :grid287 %></td>
  </tr>
<% end %>
  <% if @user_count > 29 %>
  <tr>
    <td><%= f.text_field :grid291 %></td>
    <td><%= f.text_field :grid292 %></td>
    <td><%= f.text_field :grid293 %></td>
    <td><%= f.text_field :grid294 %></td>
    <td><%= f.text_field :grid295 %></td>
    <td><%= f.text_field :grid296 %></td>
    <td><%= f.text_field :grid297 %></td>
  </tr>
<% end %>
  <% if @user_count > 30 %>
  <tr>
    <td><%= f.text_field :grid301 %></td>
    <td><%= f.text_field :grid302 %></td>
    <td><%= f.text_field :grid303 %></td>
    <td><%= f.text_field :grid304 %></td>
    <td><%= f.text_field :grid305 %></td>
    <td><%= f.text_field :grid306 %></td>
    <td><%= f.text_field :grid307 %></td>
  </tr>
<% end %>

  </table>
  <div class="actions actionscss">
    <%= f.submit %>
  </div>
</div>
  

<% end %>
