<%= form_for(@rotum) do |f| %>
  <% if @rotum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rotum.errors.count, "error") %> prohibited this rotum from being saved:</h2>

      <ul>
      <% @rotum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h1>Week Commencing : <%= f.text_field :week %></h1>
<div class="table">
<table class="user_table">
  <tr></tr>
  <% @users.each do |user| %>
  <% unless user.username == 'admin' %> 

  <tr><th><%= user.username %></th></tr>

  <% end %>
  <% end %>
</table>
  <table class="rotum_table">
      <tr>
    <th>Sunday</th>
    <th>Monday</th>
    <th>Tuesday</th>
    <th>Wednesday</th>
    <th>Thursday</th>
    <th>Friday</th>
    <th>Saturday</th>
  </tr>
    <% if @user_count > 1 %>
  <tr>
    <td><%= f.text_field :grid11 %></td>
    <td><%= f.text_field :grid12 %></td>
    <td><%= f.text_field :grid13 %></td>
    <td><%= f.text_field :grid14 %></td>
    <td><%= f.text_field :grid15 %></td>
    <td><%= f.text_field :grid16 %></td>
    <td><%= f.text_field :grid17 %></td>
  </tr>
<% end %>
  <% if @user_count > 2 %>
  <tr>
    <td><%= f.text_field :grid21 %></td>
    <td><%= f.text_field :grid22 %></td>
    <td><%= f.text_field :grid23 %></td>
    <td><%= f.text_field :grid24 %></td>
    <td><%= f.text_field :grid25 %></td>
    <td><%= f.text_field :grid26 %></td>
    <td><%= f.text_field :grid27 %></td>
  </tr>
  <% end %>
  <% if @user_count > 3 %>
  <tr>
    <td><%= f.text_field :grid31 %></td>
    <td><%= f.text_field :grid32 %></td>
    <td><%= f.text_field :grid33 %></td>
    <td><%= f.text_field :grid34 %></td>
    <td><%= f.text_field :grid35 %></td>
    <td><%= f.text_field :grid36 %></td>
    <td><%= f.text_field :grid37 %></td>
  </tr>
<% end %>
  <% if @user_count > 4 %>
  <tr>
    <td><%= f.text_field :grid41 %></td>
    <td><%= f.text_field :grid42 %></td>
    <td><%= f.text_field :grid43 %></td>
    <td><%= f.text_field :grid44 %></td>
    <td><%= f.text_field :grid45 %></td>
    <td><%= f.text_field :grid46 %></td>
    <td><%= f.text_field :grid47 %></td>
  </tr>
<% end %>
  <% if @user_count > 5 %>
  <tr>
    <td><%= f.text_field :grid51 %></td>
    <td><%= f.text_field :grid52 %></td>
    <td><%= f.text_field :grid53 %></td>
    <td><%= f.text_field :grid54 %></td>
    <td><%= f.text_field :grid55 %></td>
    <td><%= f.text_field :grid56 %></td>
    <td><%= f.text_field :grid57 %></td>
  </tr>
<% end %>
  <% if @user_count > 6 %>
  <tr>
    <td><%= f.text_field :grid61 %></td>
    <td><%= f.text_field :grid62 %></td>
    <td><%= f.text_field :grid63 %></td>
    <td><%= f.text_field :grid64 %></td>
    <td><%= f.text_field :grid65 %></td>
    <td><%= f.text_field :grid66 %></td>
    <td><%= f.text_field :grid67 %></td>
  </tr>
<% end %>
  <% if @user_count > 7 %>
  <tr>
    <td><%= f.text_field :grid71 %></td>
    <td><%= f.text_field :grid72 %></td>
    <td><%= f.text_field :grid73 %></td>
    <td><%= f.text_field :grid74 %></td>
    <td><%= f.text_field :grid75 %></td>
    <td><%= f.text_field :grid76 %></td>
    <td><%= f.text_field :grid77 %></td>
  </tr>
<% end %>
  <% if @user_count > 8 %>
  <tr>
    <td><%= f.text_field :grid81 %></td>
    <td><%= f.text_field :grid82 %></td>
    <td><%= f.text_field :grid83 %></td>
    <td><%= f.text_field :grid84 %></td>
    <td><%= f.text_field :grid85 %></td>
    <td><%= f.text_field :grid86 %></td>
    <td><%= f.text_field :grid87 %></td>
  </tr>
<% end %>
  <% if @user_count > 9 %>
  <tr>
    <td><%= f.text_field :grid91 %></td>
    <td><%= f.text_field :grid92 %></td>
    <td><%= f.text_field :grid93 %></td>
    <td><%= f.text_field :grid94 %></td>
    <td><%= f.text_field :grid95 %></td>
    <td><%= f.text_field :grid96 %></td>
    <td><%= f.text_field :grid97 %></td>
  </tr>
<% end %>
  <% if @user_count > 10 %>
  <tr>
    <td><%= f.text_field :grid101 %></td>
    <td><%= f.text_field :grid102 %></td>
    <td><%= f.text_field :grid103 %></td>
    <td><%= f.text_field :grid104 %></td>
    <td><%= f.text_field :grid105 %></td>
    <td><%= f.text_field :grid106 %></td>
    <td><%= f.text_field :grid107 %></td>
  </tr>
<% end %>
  <% if @user_count > 11 %>
  <tr>
    <td><%= f.text_field :grid111 %></td>
    <td><%= f.text_field :grid112 %></td>
    <td><%= f.text_field :grid113 %></td>
    <td><%= f.text_field :grid114 %></td>
    <td><%= f.text_field :grid115 %></td>
    <td><%= f.text_field :grid116 %></td>
    <td><%= f.text_field :grid117 %></td>
  </tr>
<% end %>
  </table>

</div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
