<!DOCTYPE html>
<html>
<head>
  <title>Rota</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="header">

  <div class="logo">
    <%= link_to root_path do %>
      <%= image_tag "logo.png" %>
    <% end %>
  </div>

  <div class="navbar">
    <ul>
      <li><%= link_to "Home", root_path %></li>
    <% if user_signed_in? %>
        <% if current_user.admin? %>
          <li><%= link_to "Approvals", approvals_path %></li>
          <li><%= link_to "Create a User", new_user_registration_path %></li>
        <% else %>
        <% end %>
      <li>
        <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
      </li>
    <% else %>
    <% end %>
      
    </ul>
  </div>

</div>

<%= yield %>
  <script>
  $(function() {
    $( ".draggable" ).draggable({revert: true, snap: 'inner'});
    $( ".droppable" ).droppable({
      drop: function( event, ui ) {
        var one = $(this).find("span").html();
        var two = ui.draggable.find("span").html();
        $(this).find("span").html(two);
        ui.draggable.find("span").html(one);
        $(this).find("input").val(two);
        ui.draggable.find("input").val(one);
      }
    });
  });
  </script>
</body>
</html>
